/* REGOLE DEFAUL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #434343;
}

/* REGOLE HEADER */

.navbar {
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}

#logo {
    color: red;
    font-size: 50px;
}


button {
    margin-left: 5px;
    padding: 3px;
}


/* REGOLE MAIN */

.container {
    display: flex;
    flex-wrap: wrap;
    padding-left: 100px;
}

.imgf {
    width: 70%;
}


.card {
    width: 20%;
    color: white;
    padding-bottom: 50px;
}

.flag {
    width: 50px;
}