/* REGOLE DEFAUL */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #434343;
}

/* REGOLE HEADER */

header {
    background-color: black;
    color: red;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100px;
}


/* REGOLE MAIN */

.container {
    width: 80%;

}


.filmcard {
    width: 40%;
    height: 150px;
    color: white;
}

img {
    width: 10%
}